<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Properties>
		<Property name="log-path">/home/bhuwan/Desktop/logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${log-path}/playground.log"
			filePattern="${log-path}/playground-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 KB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.bhuwan.java" level="DEBUG" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Root level="INFO" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>